{% extends "base.html" %}
{% block content %}
<header class="panel">
    <div class="row">
    <div class="twelve columns header">
        <h1>Search compounds and chemicals</h1>
        <p>With OpenMolDB you can search compounds and chemicals by sub-structure, similarity, properties, names, suppliers and IDs!</p>
        <p>
            <a href="{{servername}}/search.html" class="button"><i class="icon-search"></i> Search!</a>
        </p>
    </div>
    </div>
</header>
<section id="mainContent">
    <div class="row">
        <h4>Do you just want to casually browse the database? No problem!</h4>
        <p>
            <a href="{{servername}}/browse.html" class="button"><i class="icon-list-alt"></i> Browse!</a>
        </p>
    </div>
    <div class="row">
        <h4>Curious about the properties of compounds in the databse? Have a look!</h4>
        <p>
            <a href="{{servername}}/stats.html" class="button"><i class="icon-bar-chart"></i> Statistics!</a>
        </p>
    </div>
</section>
    </div>

{% endblock %}