{% extends "base.html" %}
{% block content %}

{% if logout %}
<div class="logout">
<h2>You can log out here.</h2>
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
<div class="form-actions">
    <div class="control-group">
        <button class="btn btn-primary" type="submit" value="logout" name="logout">Log out</button>
    </div>
</div>
</form>
</div>
{% else %}
<div class="login">
<h2>Please log in.</h2>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}

        <div class="control-group">
        <label class="control-label" for="username">User name:</label>
        <div class="controls">
        <input type="text" name="username" value="" id="username" placeholder="User" required>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
        <input type="password" name="password" value="" id="password" placeholder="Password" required>
        </div>
        </div>

        <div class="form-actions">
        <div class="control-group">
        <button class="btn btn-primary" type="submit" value="login" name="login">Log in</button>
        </div>
        </div>

</form>
</div>

{% endif %}
</div>
{% endblock %}