{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{servername}}/static/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="{{servername}}/static/js/flot/jquery.flot.symbol.js"></script>
<script type="text/javascript" src="{{servername}}/static/js/flot/jquery.flot.axislabels.js"></script>
<script>
var hideall = function(){
        $("#MolecularWeight").slideUp();
        $("#nrb").slideUp();
        $("#fsp3").slideUp();
        $("#complexity").slideUp();
        $("#LogP").slideUp();
        $("#HBA").slideUp();
        $("#HBD").slideUp();
        $("#TPSA").slideUp();

}
$(document).ready(function(){
hideall();
$("#MolecularWeight").slideDown();

$("#MWlink").click(function () {
hideall();
if ($("#MolecularWeight").is(":hidden")) {
        $("#MolecularWeight").slideDown();
      } else {
        $("#MolecularWeight").slideUp();
}
});

$("#nrblink").click(function () {
hideall();
if ($("#nrb").is(":hidden")) {
        $("#nrb").slideDown();
      } else {
        $("#nrb").slideUp();
}
});

$("#fsp3link").click(function () {
hideall();
if ($("#fsp3").is(":hidden")) {
        $("#fsp3").slideDown();
      } else {
        $("#fsp3").slideUp();
}
});

$("#complexitylink").click(function () {
hideall();
if ($("#complexity").is(":hidden")) {
        $("#complexity").slideDown();
      } else {
        $("#complexity").slideUp();
}
});


$("#LogPlink").click(function () {
hideall();
if ($("#LogP").is(":hidden")) {
        $("#LogP").slideDown();
      } else {
        $("#LogP").slideUp();
}
});

$("#HBDlink").click(function () {
hideall();
if ($("#HBD").is(":hidden")) {
        $("#HBD").slideDown();
      } else {
        $("#HBD").slideUp();
}
});

$("#HBAlink").click(function () {
hideall();
if ($("#HBA").is(":hidden")) {
        $("#HBA").slideDown();
      } else {
        $("#HBA").slideUp();
}
});

$("#TPSAlink").click(function () {
hideall();
if ($("#TPSA").is(":hidden")) {
        $("#TPSA").slideDown();
      } else {
        $("#TPSA").slideUp();
}
});

});
</script>

<style type="text/css">
.legend table, .legend > div { height: 55px !important; opacity: 1 !important; left: 45px; top: 10px; width: 85px !important; }
.legend table { border: 1px solid #555; padding: 5px; }

</style>



<div class="row">
<dl class="sub-nav left">
    <dd id="MWlink"><a class="button small secondary"><i class="icon-caret-right"></i> MW</a></dd>
    <dd id="nrblink"><a class="button small secondary"><i class="icon-caret-right"></i> Rot. bonds</a></dd>
    <dd id="fsp3link"><a class="button small secondary"><i class="icon-caret-right"></i> Fsp3</a></dd>
    <dd id="complexitylink"><a class="button small secondary"><i class="icon-caret-right"></i> Complex</a></dd>
    <dd id="LogPlink"><a class="button small secondary"><i class="icon-caret-right"></i> LogP</a></dd>
    <dd id="HBDlink"><a class="button small secondary"><i class="icon-caret-right"></i> H-bond donors</a></dd>
    <dd id="HBAlink"><a class="button small secondary"><i class="icon-caret-right"></i> H-bond acceptors</a></dd>
    <dd id="TPSAlink"><a class="button small secondary"><i class="icon-caret-right"></i> TPSA</a></li>
</dl>
</div>

<section id="MolecularWeight" style="display: none" class="row">
    <h3>Molecular weight</h3>
    <div id="mwhist" style="height:300px; width:650px;"></div>
</section>

<section id="nrb" style="display: none" class="row">
    <h3>Number of rotatable bonds</h3>
    <div id="nrbhist" style="height:300px; width:650px;"></div>
</section>

<section id="fsp3" style="display: none" class="row">
    <h3>Fraction of sp3 carbons</h3>
    <p>Fraction od sp3 carbons is calculated as (#sp3 carbons)/(#all carbons).</p>
    <div id="fsp3hist" style="height:300px; width:650px;"></div>
</section>

<section id="complexity" style="display: none" class="row">
    <h3>Molecular complexity</h3>
    <p>Molecular complexity is calculated as number of bits set to ON in molecular fingerprint.</p>
    <div id="complexityhist" style="height:300px; width:650px;"></div>
</section>

<section id="LogP" style="display: none" class="row">
    <h3>LogP</h3>
    <div id="logpscat" style="height:300px; width:650px;"></div>
    <div id="logphist" style="height:300px; width:650px;"></div>
</section>

<section id="HBD" style="display: none" class="row">
    <h3>H-bond donors</h3>
    <div id="hbdscat" style="height:300px; width:650px;"></div>
    <div id="hbdhist" style="height:300px; width:650px;"></div>
</section>

<section id="HBA" style="display: none" class="row">
    <h3>H-bond acceptors</h3>
    <div id="hbascat" style="height:300px; width:650px;"></div>
    <div id="hbahist" style="height:300px; width:650px;"></div>
</section>

<section id="TPSA" style="display: none" class="row">
    <h3>Polar surface area</h3>
    <div id="tpsascat" style="height:300px; width:650px;"></div>
    <div id="tpsahist" style="height:300px; width:650px;"></div>
</section>
</div>

<script class="code" type="text/javascript" >
var mwhist = {{mwhist|safe}};
$(document).ready(function() {
    $.plot($("#mwhist"), [mwhist], {
        xaxis: {
            tickSize: 50,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Molecular weight",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 30,
        },
        series: {
            shadowSize: 5,
            color: "#2F4F4F",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var nrbhist = {{nrbhist|safe}};
$(document).ready(function() {
    $.plot($("#nrbhist"), [nrbhist], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Number of rotatable bonds",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 1,
        },
        series: {
            shadowSize: 5,
            color: "#556B2F",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var fsp3hist = {{fsp3hist|safe}};
$(document).ready(function() {
    $.plot($("#fsp3hist"), [fsp3hist], {
        xaxis: {
            tickSize: 10,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Fraction of Sp3 carbons (%)",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 5,
        },
        series: {
            shadowSize: 5,
            color: "#B8860B",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var complexityhist = {{complexityhist|safe}};
$(document).ready(function() {
    $.plot($("#complexityhist"), [complexityhist], {
        xaxis: {
            tickSize: 10,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Number of bits on",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 7,
        },
        series: {
            shadowSize: 5,
            color: "#E9967A",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var logpscat = {{logpmw|safe}};
$(document).ready(function() {
    $.plot($("#logpscat"), [logpscat], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "LogP",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "Molecular weight",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        series: {
            points: {
                radius: 3,
                show: true,
                fill: true,
                symbol: "cross",
            },
            shadowSize: 5,
            color: "#FFD700",
        },
        grid: {
            hoverable: true,
        },
    });
});

var logphist = {{logphist|safe}};
$(document).ready(function() {
    $.plot($("#logphist"), [logphist], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "LogP",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 1,
        },
        series: {
            shadowSize: 5,
            color: "#FFD700",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var hbdscat = {{hbdmw|safe}};
$(document).ready(function() {
    $.plot($("#hbdscat"), [hbdscat], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "H-bond donors",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "Molecular weight",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        series: {
            points: {
                radius: 3,
                show: true,
                fill: true,
                symbol: "cross",
            },
            shadowSize: 5,
            color: "#483D8B",
        },
        grid: {
            hoverable: true,
        },
    });
});

var hbdhist = {{hbdhist|safe}};
$(document).ready(function() {
    $.plot($("#hbdhist"), [hbdhist], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "H-bond donors",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 0.7,
        },
        series: {
            shadowSize: 5,
            color: "#483D8B",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var hbascat = {{hbamw|safe}};
$(document).ready(function() {
    $.plot($("#hbascat"), [hbascat], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "H-bond acceptors",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "Molecular weight",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        series: {
            points: {
                radius: 3,
                show: true,
                fill: true,
                symbol: "cross",
            },
            shadowSize: 5,
            color: "#B22222",
        },
        grid: {
            hoverable: true,
        },
    });
});

var hbahist = {{hbahist|safe}};
$(document).ready(function() {
    $.plot($("#hbahist"), [hbahist], {
        xaxis: {
            tickSize: 1,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "H-bond acceptors",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 0.9,
        },
        series: {
            shadowSize: 5,
            color: "#B22222",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});

var tpsascat = {{tpsamw|safe}};
$(document).ready(function() {
    $.plot($("#tpsascat"), [tpsascat], {
        xaxis: {
            tickSize: 50,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Polar surface area",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "Molecular weight",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        series: {
            points: {
                radius: 3,
                show: true,
                fill: true,
                symbol: "cross",
            },
            shadowSize: 5,
            color: "#8B008B",
        },
        grid: {
            hoverable: true,
        },
    });
});

var tpsahist = {{tpsahist|safe}};
$(document).ready(function() {
    $.plot($("#tpsahist"), [tpsahist], {
        xaxis: {
            tickSize: 50,
            tickLength: 0,
            tickDecimals: 0,
            axisLabel: "Polar surface area",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: "#",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14,
            axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
            axisLabelPadding: 5
        },
        bars: {
            show: true,
            barWidth: 20,
        },
        series: {
            shadowSize: 5,
            color: "#8B008B",
        },
        grid: {
            hoverable: true,
            clickable: false,
        },
        
    });

});


</script>


{% endblock %}