{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/js/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/js/ChemDoodleWeb.js"></script>

{% if error %}
<script>
$(document).ready(function(){
$("#alert").click(function () {

        $("#alert").slideUp();

});
});
</script>
    <div class="alert-box alert" id="alert">
    <a type="button" class="close" id="alert" data-dismiss="alert" href="#">&times;</a>
    <dl class="row">
    <dt>Error in submitted data!</dt>

{% for e in error %}
    <dd>{{e}}</dd>
{% endfor %}
    </dl>
    </div>
        <div class="row">
        <p>
            <a href="/upload.html" class="button"><i class="icon-cloud-upload"></i> Back to upload</a>
        </p>
    </div>
{% elif success %}
<script>
$(document).ready(function(){
$("#alert").click(function () {

        $("#alert").slideUp();

});
});
</script>
    <div class="alert-box success" id="alert">
    <a type="button" class="close" id="alert" data-dismiss="alert" href="#">&times;</a>
    <dl class="row">
    {% for s in success %}
    <dd>{{s}}</dd>
    {% endfor %}    </dl>
    </div>
    <div class="row">
        <p>
            <a href="/upload.html" class="button"><i class="icon-cloud-upload"></i> Back to upload</a>
        </p>
    </div>

{% else %}
<div class="alert-box">
<div class="row">
<strong>Please check the data carefully and either confirm or cancel the submission at the bottom</strong>
</div>
</div>
{% for mol in mollist %}
<link rel="stylesheet" type="text/css" href="/static/js/ChemDoodleWeb.css" />

<script type="text/javascript" src="/static/js/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/js/ChemDoodleWeb.js"></script>


<section id="mol{{mol.id}}">
    <fieldset class="row">
        <legend><h4><i class="icon-beaker"></i> {{mol.name}}</h4></legend>
    <div class=row>
        <div class="large-3 columns">
            <script>
            var viewACS = new ChemDoodle.ViewerCanvas('{{mol.id}}', 150, 150);
            viewACS.specs.bonds_width_2D = 1.2;
            viewACS.specs.bonds_saturationWidth_2D = .36;
            viewACS.specs.bonds_hashSpacing_2D = 5;
            viewACS.specs.atoms_font_size_2D = 12;
            viewACS.specs.atoms_font_families_2D = ['Helvetica', 'Arial', 'sans-serif'];
            viewACS.specs.atoms_displayTerminalCarbonLabels_2D = true;
            var MolFile = '{{mol.molfile}}';
            var Mol = ChemDoodle.readMOL(MolFile);
            Mol.scaleToAverageBondLength(18);
            viewACS.loadMolecule(Mol);
            </script>
        </div>
        <div class="large-5 columns left">
            <dl>
            <dd><strong><abbr title="Chemical Abstracts Service registry number">CAS</abbr>:</strong>{{mol.CAS}}</dd>
            <dd><strong>Other names:</strong> {{mol.altname}}</dd>
            <dd><strong><abbr title="Simplified Molecular-Input Line-Entry System">SMILES</abbr>:</strong> {{mol.SMILES}}</dd>
            </dl>
        </div>
        </div>
        
        <div class="row">
            <h6><i class="icon-file-alt"></i> Properties</h6>
        <table>
        <thead>
            <tr>
            <th><abbr title="Molecular weight">MW</abbr></th>
            <th><abbr title="Hydrogen bond acceptors">HBA</abbr></th>
            <th><abbr title="Hydrogen bond donors">HBD</abbr></th>
            <th><abbr title="Logarithm of partition coefficient">LogP</abbr></th>
            <th><abbr title="Topological polar surface area">TPSA</abbr></th>
            <th><abbr title="Rotatable bonds">Rot.</abbr></th>
            <th><abbr title="Complexity">Comp.</abbr></th>
            <th><abbr title="Fraction of sp3 carbons">Fsp3C</abbr></th>
            <th>Brutto formula</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{mol.CMW|floatformat:2}}</td>
            <td>{{mol.HBA}}</td>
            <td>{{mol.HBD}}</td>
            <td>{{mol.logP|floatformat:2}}</td>
            <td>{{mol.tpsa}}</td>
            <td>{{mol.nrb}}</td>
            <td>{{mol.complexity}}</td>
            <td>{{mol.fsp3|floatformat:2}}</td>
            <td>{{mol.CHN}}</td>
            </tr>
        </tbody>
        </table>
        </div>
        
        <div class="row">
            <h6><i class="icon-shopping-cart"></i> Availability</h6>
        <table>
        <thead>
            <tr>
            <th>Suppliers</th>
            <th>Supplier IDs</th>
            <th>Storage</th>
            <th>Storage ID</th>
            <th>Quantity</th>
            <th>Class</th>
            <th>Added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{mol.supplier}}</td>
            <td>{{mol.supplierID}}</td>
            <td>{{mol.storage}}</td>
            <td>{{mol.storageID}}</td>
            <td>{{mol.amount}} {{mol.unit}}</td>
            <td>{{mol.molclass}}</td>
            <td>{{mol.added}}</td>
            </tr>
        </tbody>
        </table>
        </div>
        
        <div class="row">
        <div class="large-4 columns">
            <h6><i class="icon-barcode"></i> Bar codes</h6>
        <table>
        <thead>
            <tr>
            <th>Plate barcode</th>
            <th>Sample barcode</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{mol.platebarcode}}</td>
            <td>{{mol.samplebarcode}}</td>
            </tr>
        </tbody>
        </table>
        </div>
        
        
        <div class="large-4 columns left">
            <h6><i class="icon-ambulance"></i> PAINS</h6>
        <table>
        <thead>
            <tr>
            <th>Identified <abbr title="Pan Assay Interference Compounds">PAINS</abbr></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{mol.pains}}</td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
        
        <div class="row">
        <fieldset>
        <legend>Comment</legend>
        <p>{{mol.comment}}</p>
        </fieldset>
        </div>
        </fieldset>
</section>
{% endfor %}
<hr>
<div class="row">
<div class="large-2 columns">
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
<button class="button success" type="confirm" value="confirm" name="confirm" ><i class="icon-thumbs-up"></i>Confirm</button>
</form>
</div>
<div class="large-2 columns left">
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
<button class="button alert" type="cancel" value="cancel" name="cancel" ><i class="icon-thumbs-down"></i>Cancel</button>
</form>
</div>
</div>
{% endif %}

</div>

{% endblock %}