{% extends "base.html" %}
{% block content %}

{% if nogo %}
<div class="row">
<h4>Sorry, feature not enabled!</h4>
</div>
{% else %}

{% if logedin %}
<div class="">
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
<div class="row">
<button class="button tiny" type="submit" value="logout" name="logout" >Log out, {{user.username}}.</button>
</div>
</form>
</div>

{% if single %}

<section id="single" class="row">
    <fieldset class="row">
        <legend><h2><i class="icon-cloud-upload"></i> Upload single molecule</h2></legend>
<div>
<dl class="panel">
<dd>Name and SMILES are required.</dd>
<dd>OpenMolDB automatically calculates properties from SMILES code.</dd>
</dl>
<form class="form-horizontal" action="/upload/" method="post">
{% csrf_token %}

    <div class="row">
    <div class="large-1 columns">
    <label for="SMILES" ><strong><abbr title="Simplified Molecular-Input Line-Entry System">SMILES: </abbr></strong></label>
    </div>
    <div class="large-7 columns left">
    {{form.smiles}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="Name"><strong>Name:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.name}}
    </div>

    <div class="large-1 columns">
    <label for="Alt Name"><strong>Alternate name:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.altname}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="Storage"><strong>Storage:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.storage}}
    </div>

    <div class="large-1 columns">
    <label for="StorageID"><strong>Storage ID:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.storageid}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="platebarcode"><strong>Plate barcode:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.platebarcode}}
    </div>

    <div class="large-1 columns">
    <label for="samplebarcode"><strong>Sample barcode:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.samplebarcode}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="CAS"><strong><abbr title="Chemical Abstracts Service registry number">CAS:</abbr></strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.cas}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="suppID"><strong>Supplier:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.supplier}}
    </div>

    <div class="large-1 columns">
    <label for="suppID"><strong>Supplier ID:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.supplierid}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="molclass"><strong>Class:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.molclass}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="molclass"><strong>Amount:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.amount}}
    </div>

    <div class="large-1 columns">
    <label for="molclass"><strong>Unit:</strong></label>
    </div>
    <div class="large-3 columns left">
    {{form.unit}}
    </div>
    </div>
    
    <div class="row">
    <div class="large-1 columns">
    <label for="molclass"><strong>Comment:</strong></label>
    </div>
    <div class="large-7 columns left">
    {{form.comment}}
    </div>
    </div>
    
    <div class="form-actions">
    <div class="control-group">
        <button class="button" type="submit" value="single" name="single">Submit</button>
    </div>
</div>
</form>
</div>
</fieldset>
</section>

{% endif %}

{% if table %}
<section id="table" class="row">
<fieldset class="row">
    <legend><h2><i class="icon-cloud-upload"></i> Upload csv table</h2></legend>
<div>
<dl class="panel">
<dd>OpenMolDB accepts comma seperated tables (.csv).</dd>
<dd>Tables should be saved in "Excel dialect" with comma as field delimiter and double quotes (") as text delimiter.</dd>
<dd>Recognized column names (Accepts UPPER and lower case):</dd>
<dd><i><strong>name</strong>, <strong><abbr title="Simplified Molecular-Input Line-Entry System">SMILES</abbr></strong>, altname, storage, storageID, <abbr title="Chemical Abstracts Service registry number">CAS</abbr>, supplier, supplierID, amount, unit, comment, molclass, platebarcode, samplebarcode</i></dd>
<dd>Name and SMILES colums obligatory!</dd>
<dd>Properties calculated from SMILES (MW, LogP, HBA, HBD, TPSA, rot. bonds, complex., fsp3, <abbr title="Pan Assay Interference Compounds">PAINS</abbr>, 2D mol file).</dd>
<dd>Recommended names for "molclass": chemical, hts, compound; for hts and compound <abbr title="Pan Assay Interference Compounds">PAINS</abbr> can be calculated.</dd>
</dl>

<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">
{% csrf_token %}

<div class="control-group">
    <label class="control-label" for="uploadfile">Select a file to upload:</label>
    <div class="controls">
    {{fileform.file}} 
    </div>
    </div>
<div class="form-actions">
    <div class="control-group">
        <button class="button" type="submit" value="table" name="table">Upload</button>
    </div>
</div>
</form>
</div>
</filedset>
</section>
{% endif %}
{% else %}

<div class="row">
    <h4>Please login to submit entries or upload tables.</h4>
    <a href="/login.html" class="button small"><i class="icon-user"></i>Login</a>
    <br>
</div>

{% endif %}
</div>

{% endif %}

{% endblock %}